<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:hardwareAccelerated="true">
    
    <!-- USB permissions -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application>
        <!-- USB device filter for automatic detection -->
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />
    </application>
</manifest>
